.navi-item:nth-child(2) {
    background-color: transparent !important;
}
.navi-item:first-child {
top:0;
}
.naviMain ul > li > a,.member-item li a {
    color: #ffffff;
}
ul.member-item {
    padding-top: 8px;
}
.navi-item:nth-child(2) {
    background-color: transparent !important;
}
.navi-item:first-child {
top:0;
}
.naviMain ul > li > a,.member-item li a {
    color: #ffffff;
}
ul.member-item {
    padding-top: 8px;
}
.navi-item:not(.naviMain) {
    background-color: #2f2f2f;
    padding: 0 2rem;
}
footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #2f2f2f;
}
footer .copyright {
    text-align: center;
    padding-top: 15px;
    color: #b1b1b1;
}
.middle-title {
    font-size: 3.1rem;
    margin-bottom: 1.5rem;
}
.html-info h2 {
    font-size: 1.8rem;
    margin: 0.6rem 0;
}
a {
    text-decoration: none!important;
    color: #b2b2b2;
    transition: .3s ease-in-out;
}
.event-signup-content::before {
    content: attr(data-title);
    position: absolute;
    bottom: 95%;
    left: 10px;
    font-size: 1.2rem;
    color: #757575;
    text-shadow: 3px 3px 0 #fff;
}
.event-signup-content {
    background-color: #fbfbfb;
    border: 1px solid #dee2e6;
    padding: 10px;
    padding-top: 1rem;
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
    margin-right: 40px;
    position: relative;
}
.btn-full {
    border: 0;
    border-radius: 0;
    background-color: #3a82c2;
    color: #fff;
}
.btn-border {
    border-radius: 0;
    border: 1px solid #ccc;
    color: #b2b1b1;
    background-color: #fff;
}
.event-footer .gotoID .gotoID-btn {
    display: block;
    line-height: 1.2;
    background-color: #3a82c2;
    color: #fff;
    border-radius: 0 5px 5px 0;
    padding: 3px 5px;
    text-align: center;
}
.middle-title {
    font-size: 2rem;
}
footer .small-title {
    font-family: 'Playfair Display', 'Heiti TC', "微軟正黑體", "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #17a2b8;
}